/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}
hr{
    height: 1px;
    background-color: #C68D00;
    border:none;
    margin-right:10px;
    margin-left:10px;
}

/** end of css reset**/


/*********************************************
                DEFAULTS
**********************************************/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
h1{
    font-size:2.5rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.5rem;
}
.nav-container{
    padding: 10px;
    background-color: #242424; 
    color: #C68D00;
}
nav li:hover{
    background-color: #C68D00;
    color: #242424;
}

/*******************************************************************
                             MOBILE STYLES
********************************************************************/

@media screen and (max-width: 650px){

#body{
    max-width: 100%;
}

/**********************
        nav bar 
***********************/
#logo{
    width:inherit;
    border: none;
    background-color: #C68D00;
    overflow:hidden;
    margin-bottom: 10px;
    float: left;
    padding-bottom: 50px;
    padding-right:80%;
    }
ul li{
    display:block;
    text-align:center;
    padding: 15px;
    }
.search input{
    width:100%;
    height:25px;
    }

/**********************
        header 
***********************/
header{
    display:block;
}
#main-banner{
    width: 100%;
    position:absolute;
}
#banner h1{
    font-size: 2.8rem;
    font-weight:bold;
    padding-top:30px;
    padding-bottom:10px;
    line-height: 1.3;
}
#banner{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
    padding:10px;
    display:inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}
#banner p{
    padding-bottom:10px;
    line-height: 1.4;
    font-size:0.7rem;
}
#banner button{
    padding:20px;
    background-color: #C68D00;
    border:none;
}
/**********************
        about us 
***********************/
#about{
    display:block;
    background-color: #f8db93;
    width: fit-content;
    position: relative;
    float:inline-start;
    overflow:hidden;
    padding:10px;
}
#about h2{
    padding-top:20px;
    padding-bottom: 20px;
    font-weight: bold;
}
#about p{
    line-height: 1.3rem;
}
#about-us{
    position: relative;
    width:100%;
}

/************************
        Our Services
*************************/
#services{
    padding: 10px;
    position:relative;
    width: fit-content;
    background-color:white;
    display: inline-block;
    font-weight: bold;
}
#services h2{
    margin-top:20px;
    margin-bottom: 10px;
}
.picture{
    position: relative;
    width:100%;
}
.section{
     margin-bottom: 10px;
     background-color: #f8db93;
     width: 100%;
}
.section h3{
    padding: 10px;
}
.section p{
    padding: 10px;
    font-weight: normal;
    line-height: 1.3rem;
}
.section button{
    padding:20px;
    background-color: black;
    color: white;
    border:none;
    margin-bottom: 10px;
    margin-left: 10px;
}
/************************
        Our Vision 
*************************/
#image-vision{
    width: 100%;
    max-width:650px;
    overflow:hidden;
    height:220px;
    object-fit:cover;
    position:absolute;
    margin-bottom: 20px;
}
#vision{
    position:relative;
    color: white;
    padding: 10px;
    padding-bottom:0px;
    line-height: 1.3rem;
}
#vision h3{
    font-weight: bold;
    padding-top: 20px;
}
#vision p{
    padding-top: 20px;
}
#vision button{
    padding:25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid 1px #C68D00;
    margin-top: 10px;
}
/**********************
        Our Team 
***********************/
#team{
    padding:10px;
    position: relative;
    display:block;
    width: fit-content;
    float:inline-start;
    overflow:hidden; 
}

#team h2{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}
.profile{
    background-color: #f8db93;
    padding-bottom: 10px;
}
#team h3, b{
    font-weight: bold;
    padding:10px;
    line-height: 0.5rem;
}
#team b{
    font-size: 0.8em;
}
#team p{
    padding-bottom: 25px;
}

/**********************
       Contact Us 
***********************/
#contact{
    padding:10px;
}
#contact h2{ 
    font-weight: bold;
    margin-top:25px;
}
#contact h3{
    padding: 20px 0 10px 0;
    font-weight: bold;
}
#contact form{
    padding: 0px 10px 15px 0;
}
#contact input, textarea{
    border:1px solid #242424;
    border-radius:3px;
    padding: 5px;
    width:100%;
    margin-top:5px;
    display:block;
    overflow:hidden;
}
#message{
    height: 7rem;
}
#contact button{
    font-size: 1rem;
    background-color: #242424;
    color:#C68D00;
    padding:5px;
    border:none;
}
/**********************
        Hours 
***********************/
.table{
    margin:10px;
}
table{
    width:100%;
}
.table h3{
    font-weight: bold;
    padding: 0px 10px 10px 0px;
}
.table th,td{
    border: 1px solid black;
    height:30px;
    vertical-align: middle;
    padding:10px;
}
thead{
    background-color: #f8db93;
}
/**********************
        Location
***********************/
.map{
    padding:10px;
}
.map h3{
    margin: 10px 0px 10px 0;
    font-weight: bold;
}
.map iframe{
    width: 100%;
    height:350px;
}

/**********************
        Footer 
***********************/
footer{
    background-color:#242424;
    color:#C68D00;
    padding: 15px 5px 5px 10px;
    line-height: 1.5rem;
    font-size: 0.7rem;
}
footer a:link{
    color:#C68D00;
}
}

/*********************************************
               DESKTOP STYLES
**********************************************/
@media screen and (min-width: 660px){
/***** ADD NAV******/

/**********************
        header 
***********************/
#main-banner{
    width:100%;
    position:absolute;

}
}